<launch>

  <node pkg="tf" type="static_transform_publisher" name="footprint_to_base" args="0.0 0.0 0.06 0 0.0 0.0 base_footprint base_link 100"/>

  <include file="$(find sfbot_chassis)/launch/chassis_start.launch"/>
  <include file="$(find sfbot_teleop)/launch/keyboard_teleop.launch"/>
  <include file="$(find sfbot_bringup)/launch/urdf.launch"/>

</launch>
